# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.log
**/.temp/**

# Dependency directories (remove the comment below to include it)
# vendor/

**/.DS_Store

# ide
**/.idea/
**/.vscode/
**/.history

# dependencies
**/node_modules

frontend/dist
frontend/npm-debug.log*
frontend/yarn-error.log
frontend/coverage
frontend/yarn.lock
frontend/package-lock.json
frontend/functions/*
frontend/.umi
frontend/.umi-production
frontend/build

kubeboard
